.openButtonSettings{
    position: fixed;
    top: 55px;
    right: 15px;
    transition: right 0.25s ease-out;
    z-index: 1001;

    border-radius: 30%;
    border-width: 2px;
    width: 35px;
    height: 30px;
}

.openButtonSettings.open{
    z-index: 2000;
}

.openButtonSettings.open{
    right: 315px;
}